{% extends 'base.html' %}

{% block title %}
    <title>Update Item</title>
{% endblock %}

{% block content %}
    <div class="container">
      <h1 class="text-center">Update an Item</h1>
      {% for error in errors %}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {% endfor %}
      <div id="result" class="text-success"></div>
      <form>
          <div class="mb-3">
            <label for="title" class="form-label">Item Title</label>
            <input type="text" class="form-control" id="title" required name="title" value="{{item.title}}" placeholder="Enter item title">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Item Description</label>
            <textarea type="text" class="form-control" id="description" required name="description" placeholder="Enter item description">{{item.description}}</textarea>
          </div>
          <div class="form-text">Enter full item description in details</div>
        </form>
        <button type="submit" class="btn btn-primary" onclick="update_item({{item.id}})">Update</button>
    </div>
{% endblock %}

{% block script %}
  <script>
    function update_item(id){
      var data = {}
      data["title"]=document.getElementById("title").value
      data["description"]=document.getElementById("description").value
      fetch("/item/update/"+id,{
        method:"PUT",
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify(data)})
        .then(response => response.json())
        .then(data => document.getElementById("result").innerHTML = data.message)
    }
  </script>
{% endblock %}